{% extends 'base.html' %}
{% block title %}All Dishes{% endblock %}

{% block body %}


  <div class="container-fluid">
    <div class="span">
      <div class="p-3 mb-2 bg-success text-white text-opacity-75 mb-md-0 position-sticky">
        <h1>All Dishes</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="p-2 mb-2 bg-secondary.bg-gradient text-emphasis-info">
      <h1>      </h1>
    </div>
  
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for dish in dishes %}
      <div class="col">
        <div class="card">
          <img src="/static/img/{{ dish.dish_name.capitalize() }}.jpeg" class="card-img-top" alt="..." style="height: 300px; width:416.01px">
          <div class="card-body">
            <a class="card-title" href="/dishes/{{ dish.dish_name }}">{{ dish.dish_name.capitalize() }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
  
    </div>
  </div>

    <!--<ul class="list-group">
      {% for dish in dishes %}
        <li class="list-group-item">
          <a href="/dishes/{{ dish.dish_name }}">
            {{ dish.dish_name.capitalize() }}
          </a>
        </li>
      {% endfor %}
    </ul>-->
  

{% endblock %}

{% block js %}

{% endblock %}
