{% extends 'base.html' %}
{% block title %}All Dishes{% endblock %}

{% block body %}
  
  <div class="container">
    <div class="span">
      <div class="p-3 mb-2 bg-success text-white">
        <h1>All Dishes</h1>
      </div>
    </div>
    
    <ul class="list-group">
      {% for dish in dishes %}
        <li class="list-group-item">
          <a href="/dishes/{{ dish.dish_name }}">
            {{ dish.dish_name.capitalize() }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>



{% endblock %}
