{% extends 'base.html' %}
{% block title %}Restaurant Recommendation Home{% endblock %}

{% block body %}


  <div class="container">
    <div class="row">
      <div class="p-3 mb-2 bg-success text-white">
        <h1>FoodReferral</h1>
        <h2>Crowd-sourced recommendations by food gurus at your fingertip!</h1>
      </div>



    </div>

    <div class="row">
      <div class="p-2 mb-2 bg-secondary.bg-gradient text-emphasis-info">
        <h3>Vote for a specific dish at a restaurant OR Find a recommendation</h3>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <ul>
          <li><a href="/restaurants">Find restaurants and vote</a></li>
          <li><a href="/dishes"> Search for a recommendation - All dishes</a></li>
          <li><a href="/users">View all fellow food gurus</a></li>
        </ul>
      </div>
    </div>


    <div class="row">

      <h3>Quick Search</h3>
 
      <div class="col-5">
        <h4>Find the best</h4>
        <select id="drop-down" class="select" data-mdb-filter="true">
          {% for dish in dishes %}
          <option value="{{dish.dish_name}}">{{ dish.dish_name.capitalize() }}</option>
          {% endfor %}
        </select>

      </div>
      
      <div id="best_restaurant" class="col-7">

      </div>





    
    </div>

    <div class="row">
      <div class="col-6">
        
      
        <div class="p-3 mb-2 bg-secondary.bg-gradient text-emphasis-info">
        <h4>Create an Account</h>
        </div>
        <form action="/users" method="POST">
          <p>
            Email <input type="text" name="email">
          </p>
    
          <p>
            Password <input type="password" name="password">
          </p>
    
          <p>
            <input type="submit">
          </p>
        </form>
      </div>

      <div class="col-6">
        <div class="p-3 mb-2 bg-secondary.bg-gradient text-emphasis-info">
          <h4>Log In</h>
        </div>
        <form action="/login" method="POST">
          <p>
            Email <input type="text" name="email">
          </p>
    
          <p>
            Password <input type="password" name="password">
          </p>
    
          <p>
            <input type="submit">
          </p>
        </form>
      </div>
    </div>
  
    <script src="static/script.js"></script>
    

{% endblock %}
