{% extends 'base.html' %}
{% block title %}Restaurant Recommendation Home{% endblock %}

{% block body %}

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <!--<div class="display-3 mb-2 bg-success text-white">-->
      <div class="p-3 mb-2 bg-success text-white text-opacity-75 mb-md-0">
      
        <h1>FoodReferral</h1>
        <h2>Crowd-sourced recommendations by foodies at your fingertip!</h1>
  
      </div>

      <div class="row">
        <div class="p-2 mb-2 bg-secondary.bg-gradient text-emphasis-info">
          <h1>      </h1>
        </div>
  
      </div>

      <div class="row">
        <div class="p-2 mb-2 bg-secondary.bg-gradient text-emphasis-info">
          <h1>      </h1>
        </div>
  
      </div>

              <!--<div class="display-3 mb-2 bg-success text-white">-->


    </div>
  
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4 mb-3 mb-sm-0">
        <div class="card text-white mb-3 bg-success" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title">Restaurants</h2>
            <p class="card-text">Visit our list of all restaurants and choose one to recommend</p>
            <a href="/restaurants" class="btn btn-primary text-bg-primary">Find a restaurant</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white mb-3 bg-success" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title">Dishes</h2>
            <p class="card-text">Visit our list of voted dishes and find your recommendation</p>
            <a href="/dishes" class="btn btn-primary">Find a dish</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white mb-3 bg-success" style="max-width: 18rem;">
          <div class="card-body">
            <h2 class="card-title">Users</h2>
            <p class="card-text">Find other food gurus and see what they voted for</p>
            <a href="/users" class="btn btn-primary">Find a foodie</a>
          </div>
        </div>
      </div>
    </div>



</main>

<div class="row">
  <div class="p-2 mb-2 bg-secondary.bg-gradient text-emphasis-info">
    <h1>      </h1>
  </div>

</div>

<div class="row">
  <div class="p-2 mb-2 bg-secondary.bg-gradient text-emphasis-info">
    <h1>      </h1>
  </div>

</div>

  <div class="jumbotron">
    <div class="container">
      <div class="p-3 mb-2 bg-success text-white text-opacity-75 mb-md-0">
        <h3>Quick Search</h3>
      </div>

      <div class="row">
        <div class="p-2 mb-2 bg-secondary.bg-gradient text-emphasis-info">
          <h1>      </h1>
        </div>
      
      </div>

      <div class="row">
        <div class="col-md-8 mb-3 mb-sm-0">
          <div class="card text-primary-emphasis mb-3 bg-light text-opacity-100 mb-md-0" style="max-width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">Choose a dish from dropdown</h3>
              <select id="drop-down" class="select" data-mdb-filter="true">
                {% for dish in dishes %}
                <option value="{{dish.dish_name}}">{{ dish.dish_name.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3 mb-sm-0">
          <div class="card text-primary-emphasis mb-3 bg-light text-opacity-100 mb-md-0" style="max-width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">You can find the best in town at</h3>
              <p class="card-text" id="best_restaurant" placeholder="Choose from dropdown for recommendation"></p>
            </div>
          </div>
        </div>
      </div>
      
  
  

  
 


    
    </div>

  
    

    
  
  </div>

    

<script src="static/script.js"/>    

{% endblock %}
