{% extends 'base.html' %}
{% block title %}{{dish_name}}{% endblock %}

{% block body %}
  
  <div class="container">
    <h1>Find your favorite {{dish_name}} at these restaurants</h1>
    <div class="row">

      <div class="col-4">
        <div class="text">
          <ul>
            {% for restaurant in restaurants %}
              <li>
                <a href="/restaurants/{{ restaurant[1].id }}">
                  {{ restaurant[1].name }} has {{restaurant[0]}} votes for {{dish_name}}
                </a>
              </li>
            {% endfor %}
          </ul>  
        </div>
      </div>

      <div class="col-5">
        <div class="image">
          <img src="/static/img/{{dish_name}}.jpeg" alt="{{dish_name}}" width="1000" height="'900">
        </div>
      </div>


    </div>
  </div>

  


{% endblock %}
