{% extends 'base.html' %}

{% block title %}{{ user.email }}'s Page{% endblock %}

{% block body %}
<div class="container">
    <div class="span">
        <div class="p-3 mb-2 bg-success text-white text-opacity-75 mb-md-0">
          <h3>{{ user.username }}</h3>
        </div>
    </div>

    <ul class="list-group">
    {% for vote in votes_details %}
        <li class="list-group-item">
            {{ vote[0]}}:
            <span>
                {{ vote[1] }}
            </span>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
